/* /////////////////form /////////////////*/
.input-group label {
  display: block;
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #404243;
  font-weight: 500;
}
.input-group input,
.input-group select {
  display: block;
  padding: 0.5rem;
  width: 50rem;
  border: 1px #96b6c5 solid;
}
.input-group input:focus {
  outline: none;
  border-color: #87969d;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}
